@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center my-5">
    <h1 class="display-4 text-primary font-weight-bold">Welcome to Inventory & Supply Chain Management</h1>
    <p class="lead text-secondary" style="font-size: 1.2rem; line-height: 1.6;">
        Our system is designed to streamline the flow of goods from suppliers to warehouses and ultimately to customers, ensuring smooth and efficient operations. With features like real-time product tracking, comprehensive supplier data, and advanced inventory analytics, we empower businesses to manage stock levels, maintain supplier relationships, and ensure timely replenishment. Enhance your operational efficiency, reduce waste, and improve decision-making across your supply chain.
    </p>
</div>
