@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The Inventory and Supply Chain Management System is a comprehensive solution designed to streamline the flow of goods from suppliers to warehouses and ultimately to customers. It helps businesses monitor stock levels, manage supplier relationships, track inventory movements, and ensure timely replenishment. With features like product tracking, supplier data, and inventory analytics, the system enhances operational efficiency, reduces waste, and improves decision-making across the supply chain.</p>
</div>